<div class="flex mt-4">
  <%= @properties.each do |property| %>
    <p><%= property.name %></p>
    <p><%= property.headline %></p>
    <p><%= property.description %></p>
    <p><%= property.address_1 %></p>
    <p><%= property.city %></p>
    <p><%= property.country %></p>
  <% end %>
</div>